@model Desafio_Luma.Models.Local

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Local</h1>

<div>
    <h4>Local</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CordenadaX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CordenadaX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CordenadaY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CordenadaY)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
